@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@font-face {
  font-family: "Soyuz Grotesk";
  src: url("../fonts/Soyuz-Grotesk.woff") format("woff"),
    url("../fonts/Soyuz-Grotesk.otf") format("embedded-opentype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --violo: #542fe6;
  --white: #fff;
  --assistant: 10px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

* {
  font-family: "Soyuz Grotesk", sans-serif;
  font-weight: 500;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

a,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

button {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

img,
svg {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

path {
  transition: all 0.3s ease;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.display {
  display: none;
}

::selection {
  background: var(--violo);
  color: #fff;
}

::-webkit-scrollbar {
  width: 7px;
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: var(--violo);
  border-radius: 5px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  margin: 0;
}

.application__input::-webkit-input-placeholder {
  color: var(--violo);
  opacity: 1;
  transition: opacity 0.3s ease;
}
.modal__input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.input-blue::-webkit-input-placeholder {
  color: #063462;
}
.input-yellow::-webkit-input-placeholder {
  color: #4d4b43;
}
.input-brown::-webkit-input-placeholder {
  color: #a9e44d;
}
.input-black::-webkit-input-placeholder {
  color: #fff;
}
.input-white::-webkit-input-placeholder {
  color: #000;
}
.card__error::-webkit-input-placeholder {
  color: #dc143c;
}

.application__input::-moz-placeholder {
  color: var(--violo);
  opacity: 1;
  transition: opacity 0.3s ease;
}
.modal__input::-moz-placeholder {
  color: #fff;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.input-blue::-moz-placeholder {
  color: #063462;
}
.input-yellow::-moz-placeholder {
  color: #4d4b43;
}
.input-brown::-moz-placeholder {
  color: #a9e44d;
}
.input-black::-moz-placeholder {
  color: #fff;
}
.input-white::-moz-placeholder {
  color: #000;
}
.card__error::-moz-placeholder {
  color: #dc143c;
}

.application__input::-moz-placeholder {
  color: var(--violo);
  opacity: 1;
  transition: opacity 0.3s ease;
}
.modal__input::-moz-placeholder {
  color: #fff;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.card__error::-moz-placeholder {
  color: #dc143c;
}

.application__input::-ms-input-placeholder {
  color: var(--violo);
  opacity: 1;
  transition: opacity 0.3s ease;
}
.modal__input::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.input-blue::-ms-input-placeholder {
  color: #063462;
}
.input-yellow::-ms-input-placeholder {
  color: #4d4b43;
}
.input-brown::-ms-input-placeholder {
  color: #a9e44d;
}
.input-black::-ms-input-placeholder {
  color: #fff;
}
.input-white::-ms-input-placeholder {
  color: #000;
}
.card__error::-ms-input-placeholder {
  color: #dc143c;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
textarea:focus::-moz-placeholder,
input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
textarea:focus:-moz-placeholder,
input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
textarea:focus:-ms-input-placeholder,
input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.no-hover {
  pointer-events: none;
  cursor: pointer;
}
.blue {
  color: #063462 !important;
  background: #9dd1ff !important;
  border-color: #063462 !important;
}
.back-blue {
  background: #063462 !important;
}
.yellow {
  color: #4d4b43 !important;
  background: #f7f3d6 !important;
  border-color: #4d4b43 !important;
}
.back-yellow {
  background: #4d4b43 !important;
}
.brown {
  color: #a9e44d !important;
  background: #3b2716 !important;
  border-color: #a9e44d !important;
}
.back-brown {
  background: #a9e44d !important;
}
.black {
  color: #fff !important;
  background: #000 !important;
  border-color: #fff !important;
}
.back-black {
  background: #fff !important;
}
.white {
  color: #000 !important;
  background: #fff !important;
  border-color: #000 !important;
}
.back-white {
  background: #000 !important;
}
.border-log {
  border: 1px solid #fff;
}
.traningCard:hover .traningCard__element .traningCard__icon svg path {
  fill: var(--violo);
}
.page-enter-active,
.page-leave-active {
  opacity: 1;
  transition: all 0.5s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}
